services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    
    ports:
      - '80:80'
      - '81:81'
      - '443:443'

    environment:
      TZ: ${TIMEZONE}
      
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
